<div class="page-container">
    <header>
        <span>Willkommen beim</span>
        <img src="../assets/img/logo_white.png">
    </header>

    <ul class="description">
        <li>Wähle im Menü einen Channel um einer Gruppenkonversation beizutreten.</li>
        <li>Wähle im Menü Direktnachrichten um einem Kontakt eine private Nachricht zu senden.</li>
        <li>Über die Suchfunktion können die Details eines Kontaktes eingesehen werden.</li>
        <li>Über das Profil-Icon rechts oben kann das eigene Profil bearbeitet werden.</li>
    </ul>
</div>
